* {
  box-sizing: border-box;
}
body {
  background-color: #0a0d0d;
  font-family: 'Roboto', sans-serif;
}

.home-div {
  width: 90%;
}

.home-nav {
  border-bottom: 1px solid white;
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #0a0d0d;
}

.homenav-list {
  display: flex;
  list-style-type: none;
  color: whitesmoke;
}

.homenav-list li {
  margin: 10px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 2em;
}

#homeIcon {
  margin-top: 9px;
  margin-right: 10px;
}

#home-search {
  margin: 35px 0px 20px 950px;
  height: 20px;
  width: 300px;
  padding: 10px;
  border-radius: 8px;
  background-color: rgb(26, 31, 32);
  font-size: 16px;
  caret-color: white;
}
.welcome-div {
  margin-top: 100px;
  margin-left: 15px;
  display: flex;
  word-break: break-all;
  flex-direction: column;
  color: whitesmoke;
  font-size: 1.9em;
  letter-spacing: -1px;
  line-height: 1;
  width: 50%;
}

.ride-div {
  margin-top: 50px;
  margin-left: 10px;
  color: whitesmoke;
  letter-spacing: -1px;
  line-height: 1;
  width: 50%;
}

.ride-text {
  margin-left: 1em;
}

.ride-table {
  margin-left: 1em;
  height: 400px;
  width: 80%;
}

.table-headers > th {
  margin-left: 50px;
}


.table-row > td {
  padding-left: 20px;
  width: 2em;
}

.pagination-button {
  padding: 10px 20px;
  margin-left: 1em;
  margin-top: 5em;
  margin-bottom: 1em;
}

.active {
  background-color: darkgray;
}


.nav-link {
  text-decoration: none;
  color: whitesmoke;
}